.filter {
    position: fixed;
    top: 200px;
    left: 0;
    width: 120px;

    transition: width 0.5s ease-in-out;
    &--active {
        width: 400px;
    }
    &__header {
        background-color: var(--darkBlue);
        color: #ffffff;
        padding: 10px;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        &__title {
            display: flex;
            gap: 10px;
        }
        &__close {
            background-color: transparent;
            border: none;
            padding: 0;
            color: #ffffff;
            i {
                font-size: 2rem;
            }
        }
    }
    &__body {
        width: 0;
        height: 0;
        background-color: #ffffff;
        &--active {
            width: 400px;
            height: calc(100vh - 257px);
        }
        transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
        &__container {
            display: flex;
            flex-direction: column;
            position: relative;
            height: 100%;
        }
        &__chat {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 10px 20px;
            &__item {
                border-radius: 10px;
                padding: 10px;
                color: #ffffff;
                max-width: 70%;
                margin: 5px 0;
                &--user {
                    background-color: var(--lightBlue);
                    align-self: flex-end;
                }
                &--system {
                    background-color: #eaebf0;
                    align-self: flex-start;
                    color: #000000;
                }
            }
            &__user {
                color: #aebdcf;
                font-size: 12px;
                &--user {
                    align-self: flex-end;
                }
                &--system {
                    align-self: flex-start;
                }
            }
        }
        &__input {
            border-top: 1px solid #aebdcf;
            position: absolute;
            bottom: 0;
            width: 90%;
            margin: 5%;
            min-height: 50px;
            box-sizing: border-box;
            textarea {
                padding: 20px;
                height: 100%;
                width: 100%;
                box-sizing: border-box;
                border: none;
                white-space: normal;
                word-wrap: break-word;
            }
            button {
                background-color: transparent;
                border: none;
                padding: 0;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                i {
                    color: var(--lightBlue);
                    font-size: 1.3rem;
                }
            }
        }
    }
  }


::ng-deep {
    .mat-mdc-tab-group, .mat-mdc-tab-body-wrapper {
        height: 100% !important;
    }
}

.typing-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dot {
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background-color: #333;
    border-radius: 50%;
    animation: dot-flashing 1s infinite linear alternate;
  }
  
  .dot:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes dot-flashing {
    0% {
      opacity: 0.2;
    }
    50%,
    100% {
      opacity: 1;
    }
  }
  