<header class="header">
    <div class="header__logo">
        <img src="assets/images/munich-logo.svg" alt="Munich Logo" class="header__logo__img">
        <h3>Ratsinformationssystem</h3>
    </div>
    <div class="header__navigation">
        <a routerLink="/uebersicht"class="header__navigation__item" routerLinkActive="active">Übersicht</a>
        <a routerLink="/antraege"class="header__navigation__item" routerLinkActive="active">Anträge</a>
        <a routerLink="/glossar"class="header__navigation__item" routerLinkActive="active">Glossar</a>
    </div>
    <div class="header__createProposal"><button class="header__createProposal__btn" (click)="openCreateDialog()">Neuer Antrag</button></div>
</header>