<header class="header">
    <div class="header__logo">
        <img src="assets/images/munich-logo.png" alt="Munich Logo" class="header__logo__img">
        <h3>Ratsinformationssystem</h3>
    </div>
    <div class="header__navigation">
        <a href="/uebersicht"class="header__navigation__item">Übersicht</a>
        <a href="/antraege"class="header__navigation__item">Anträge</a>
        <a href="/glossar"class="header__navigation__item">Glossar</a>
    </div>
    <div class="header__createProposal"><button class="header__createProposal__btn" (click)="openCreateDialog()">Neuer Antrag</button></div>
</header>