<form class="key-information" [formGroup]="contentFormGroup">
  <div class="key-information__title">
    <mat-form-field appearance="outline" >
      <mat-label>Titel</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Zusammenfassung</mat-label>
    <textarea matInput formControlName="summary"></textarea>
  </mat-form-field>
  <app-proposal-create-keyword-breakdowns [contentFormGroup]="contentFormGroup"></app-proposal-create-keyword-breakdowns>
</form>
