<form class="contacts">
  <div class="container">
    @if(editView) {
    <form class="input" [formGroup]="responsibleInput">
      <mat-form-field appearance="outline">
        <mat-label>Vorname</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nachname</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
      <button (click)="addResponsible()">Add</button>
    </form>
    }
    @for(contact of responsibles; track contact;
    let index = $index) {
    <div class="input results">
      <span
        >{{ contact.firstName }},
        {{contact.lastName }}
        {{contact?.email ? ', ' +  contact?.email: ''}}
        </span
      >
      <button class="remove-btn" (click)="removeResponsible(index)">
        X
      </button>
    </div>
    }
  </div>
</form>
