<div class="stepper">
  <div class="stepper__circle stepper__circle__1" (click)="toStep(0)" [class.stepper__circle--active]="!fileForm.invalid">
    <span><i class="bi bi-upload"></i></span>
  </div>
  <div class="stepper__line" [class.stepper__line--active]="!fileForm.invalid"></div>

  <div class="stepper__circle stepper__circle__2" (click)="toStep(1)" [class.stepper__circle--active]="!contentForm.invalid">
    <span><i class="bi bi-body-text"></i></span>
  </div>
  <div class="stepper__line" [class.stepper__line--active]="!contentForm.invalid"></div>

  <div class="stepper__circle stepper__circle__3" (click)="toStep(2)" [class.stepper__circle--active]="!detailsForm.invalid">
    <span><i class="bi bi-calendar-event"></i></span>
  </div>
  <div class="stepper__line" [class.stepper__line--active]="!detailsForm.invalid"></div>

  <div class="stepper__circle stepper__circle__4" (click)="toStep(3)" [class.stepper__circle--active]="!contactsForm.invalid">
    <span><i class="bi bi-people-fill"></i></span>
  </div>
  <div class="stepper__line" [class.stepper__line--active]="!contactsForm.invalid"></div>
  <div class="stepper__circle stepper__circle__5" (click)="toStep(4)" [class.stepper__circle--active]="!fileForm.invalid && !contentForm.invalid && !detailsForm.invalid && !contactsForm.invalid">
    <span><i class="bi bi-check2"></i></span>
  </div>
</div>
