.dates {
    display: flex;
    justify-content: space-between;
    &__item {
    display: flex;
    flex-direction: column;
    }
}

.selects {
    display: flex;
    justify-content: space-between;
    &__item {
        display: flex;
        flex-direction: column;
    }
}