<div mat-dialog-content>
    <div class="dialog__header">
        <div class="dialog__header__arrow-back"><button class="dialog__header__btn"><i class="bi bi-arrow-left-short dialog__header__btn__icon"></i></button></div>
        <div class="dialog__header__steps"></div>
        <div class="dialog__header__close-btn">
            <button class="dialog__header__btn" (click)="closeDialog()"><i class="bi bi-x dialog__header__btn__icon"></i></button>
        </div>
    </div>
    <div class="dialog__content">
        <app-proposal-create-file-input></app-proposal-create-file-input>
    </div>
</div>