$header-height: 50px;
.mat-dialog-content {
    height: 100%;
}
.dialog {
    position: relative;
    &__header {
        height: $header-height;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        &__btn {
            background-color: transparent;
            &:hover {
                .dialog__header__btn__icon {
                    color: #000000;
                    cursor: pointer;
                }
            }
            &__icon {
                font-size: 1.5rem;
                color: var(--textColorDarkGrey);
            }
        }
    }
    &__content {
        background-color: var(--dialogBackground);
        height: calc(100% - $header-height);
        padding: 20px;
        margin-top: $header-height;
        // display: flex;
        // align-items: center;
        // justify-content: center;
    }
}

.mat-mdc-dialog-content {
    max-height: none;
  }