$header-height: 50px;
.dialog {
    &__header {
        height: $header-height;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        &__btn {
            background-color: transparent;
            &:hover {
                .dialog__header__btn__icon {
                    color: #000000;
                    cursor: pointer;
                }
            }
            &__icon {
                font-size: 1.5rem;
                color: var(--textColorDarkGrey);
            }
        }
    }
    &__content {
        background-color: var(--dialogBackground);
        height: calc(100% - $header-height);

    }
}

.mat-mdc-dialog-content {
    max-height: none;
  }