.frame {
    padding: 50px 8% 0 8%;
    height: calc(100vh - 300px);

    &__backBtn {
        display: flex;
        gap: 10px;
        color: #000000;
        &:hover {
            text-decoration: underline;
        }
    }
    &__content {
        height: 100%;
    }
}