.glossary-list {
    margin-top: 50px;
    max-height: 500px;
    width: 100%;
    overflow-y: scroll;
    &__section {
        margin-inline: auto;
    }
    &__character {
        position: sticky;
        top: 0;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        height: fit-content;
        width: 50px;
        user-select: none;
    }
    &__content {
        margin-top: -48px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        margin-left: 75px;
        margin-right: 75px;
        min-height: 80px;
        padding: 10px 0;
        h5 {
            cursor: pointer;
            text-decoration: underline;
            margin: 0;
            margin-bottom: 5px;
            width: fit-content;
        }

    }
}