label {
    font-weight: 700;
}

.flex-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    .col1 {
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
.spinner-container {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
  }